<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view.css">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="../index/index.html">Add</a>
    </div>

    <div class="table">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>DOB</th>
                <th>Address</th>
            </tr>
        </table>
    </div>



    <script>
    </script>
</body>
</html>